#fp  {
float: left;    
 margin: 0 15px 0 0;
}

#portrait  {
float: right;    
 margin: 0 15px 0 0;
}

.colorblock {
  background-color: #53784F; 
  width: 100%; 
  height: auto;
}

@media only screen and (max-width: 1000px) {

  br {
    display: block;
    margin: 0 0;
  }

  .autoslides-container {
    width: 100vw;
    overflow: hidden;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 0;
    position: relative;
  }

  .autoslides-wrapper {
    display: flex;
    width: calc(4 * 100vw);
    animation: slide 12s infinite;
  }

  .autoslides-wrapper img {
    width: 100vw;
    flex-shrink: 0;
    height: auto;
    display: block;
  }

  @keyframes slide {
    0%, 18% {
      transform: translateX(0);
    }
    23%, 41% {
      transform: translateX(-100vw);
    }
    46%, 64% {
      transform: translateX(calc(-100vw * 2));
    }
    69%, 87% {
      transform: translateX(calc(-100vw * 3));
    }
    100%, 100% {
      transform: translateX(0);
    }
  }

}