.slideshowContainer {
  position: relative;
  overflow: hidden;
  margin: 50px 0 75px;
  width: 100%;
  height: 80vh;
  margin: auto;
}


.imageSlides {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 2s ease-in-out;
  z-index: -1;
  height: 70vh; 
  width: auto;
}

.visible {
  opacity: 1;  /* Make the image visible */
}


.slideshowArrow {
  font-size: 40pt;
  color: #53784F;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.slideshowArrow:hover {
  opacity: 0.75;
}

#leftArrow {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#rightArrow {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(50%, -50%);
}

.slideshowCircles {
  position: static;       /* Fixes the position relative to the viewport */
  bottom: 50px;          /* Adjust the distance from the footer */
  margin transform: translateX(-50%);  /* Centers the dots */
  text-align: center;
  z-index: 10;  
  margin-top: -10vh
;         /* Ensure dots are above images */
}



.circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px #53784F;
  transition: 1s ease-in-out;
}

.dot {
  background-color: #53784F;
  border: solid 2px #53784F;
}
@media only screen and (max-width: 1000px) { 
  .imageSlides {
    max-width: 100%;   /* Make the image fill the container width on smaller screens */
    max-height: 80vh;  /* Ensure the image doesn't exceed 80vh */
    object-fit: contain;
  }

  .slideshowArrow {
    font-size: 7em;
    color: #53784f00;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
  }
}
